.product-image{
    padding-left: 15px;
    padding-top: 15px;
    width: auto;
    height: 250px;
}
.product-name {
    color : rgb(203, 32, 63) ;
    padding: 10px 20px 0 20px;
}
.product-description {
    padding : 10px 20px 20px 20px; 
}
.product-link , .product-rating{
    padding-left: 20px;
    padding-bottom: 10px;
}
.share-buttons {
    padding-top: 10px;
    padding-left: 20px;
}
.details{
    padding-left: 20px;
}
.listing{
    width: 450px;
    height: 650px;
    margin-left: -23px; 
    border-radius: 30px;
    background-color: rgba(241, 224, 224, .4);
}
#delete-pr{
    margin-top: 6px;
    margin-left: 20px;
    border-radius: 10px;
    display: inline;
    border-color: red;
    background-color: white;
    color : rgb(85, 50, 49);
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}