body{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu{
    position: absolute;
    left : 0px ;
    top : 0px; 
    background-color: #fff;
    width: 100%;
    height: 54px;
}
#logo-microsoft{
    padding-top: 14px;
    padding-left: 84px; 
    width: 107px ;
    height: auto ;
}
#menu-left-bar{
    width: 665px;
    height: 54px;
    position: absolute;
    top : 15px ;
    left: 212px ;
}
#menu-left-bar a{
    margin-left: 16px ; 
    font-size: 13px ;
    text-decoration: none;
    color : black ;  
}
#menu-left-bar a:hover{
    text-decoration: underline;
} 
#menu-right-bar {
    width : 300px; 
    height : 54px ;
    font-size: 13px; 
    position: absolute;
    right : 150px;
    top : 15px;   
}

#select-in-menu{
    border: 0px ;
}
#menu-right-bar a{
    padding-left: 10px;
}
#cart{
    padding-left: 4px;
}
#img-of-search{
    width: auto;
    height: 18px;
    position: relative;
    top : 5px ;
    left : 4px ;
    padding-right: 10px;
}
#img-of-cart{
    width: auto;
    height: 16px;
    padding-left: 8px;
    position: relative;
    top : 2px; 
    padding-right: 7px;
}
#img-of-avatar {
    position: relative;
    top : -24px; 
    left : 310px; 
    height: 32px;
    width: auto;
}
#first-floor{
    background-color: rgba(224, 100, 125,.2);
    position: absolute;
    top : 55px ; 
    width: 100%;
    left : 0px;  
    height : 350px; 
    text-align: center;
}
#first-floor #nscpc {
    font-size: 50px;
    font-weight: 600;
    padding-left: 0%;
    position: relative;
    top : 40px; 
    text-align: center;
}
#first-floor #itfs{
    font-size: 16px;
    padding-top: 40px;
}
#first-floor button {
    height: 40px;
    width: 220px;
    border: 0px;
    background-color: black;
    
}
#button-1 , #button-2{
    color : white; 
}

#button-1{
    position: relative; 
    left : -20px; 
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}
#button-2{
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    width: 220;
}
.main-video-back{
    position: absolute;
    top : 400px; 
    left : 0px; 
    width: 100%;
    height: auto;
}
.second-floor{
    position: absolute;
    height: 520px;
    width: 100%;
    top : 936px;
    left: 0px;
    background-color: rgba(224, 100, 125,.2);
}
#first-card{
    position: relative;
    top : 20px; 
    left: 100px;
    background-color: white;
    height: 460px;
    width: 404px;
}
#first-card #casfb{
    position: relative;
    left : 18px; 
    font-size: 30px;
    text-align: left;
    font-weight: 600;
}
#first-card #binss{
    position: relative;
    top : 5px;
    left: 18px;
    text-align: left;
    padding-top: 5px;
}
#first-card button{
    background-color: #0067B8;
    color : white; 
    position: absolute;
    top : 400px;
    width: 150px;
    height: 37px; 
    left : 20px;
    border: 0px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 3px;
}
#second-card{
    position: relative;
    top : -440px; 
    left: 530px;
    background-color: white;
    height: 460px;
    width: 404px;
}
#second-card img {
    width: 404px;
    height: auto;
}
#second-card #kmam{
    position: relative;
    left : 18px; 
    font-size: 30px;
    text-align: left;
    font-weight: 600;
}
#second-card #sadtt{
    position: relative;
    top : 15px;
    left: 18px;
    text-align: left;
    padding-top: 25px;
}
#second-card button{
    background-color: #0067B8;
    color : white; 
    position: absolute;
    top : 400px;
    width: 100px;
    height: 37px; 
    left : 20px;
    border: 0px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 3px;
}
#third-card{
    position: relative;
    top : -900px; 
    left: 960px;
    background-color: white;
    height: 460px;
    width: 404px;
}
#third-card img{
    width: 404px;
    height: auto;
}
#third-card #m365c{
    position: relative;
    left : 18px; 
    font-size: 30px;
    text-align: left;
    font-weight: 600;
}
#third-card #stafo{
    position: relative;
    top : 15px;
    left: 18px;
    text-align: left;
    padding-top: 15px;
}
#third-card button{
    background-color: #0067B8;
    color : white; 
    position: absolute;
    top : 400px;
    width: 100px;
    height: 37px; 
    left : 20px;
    border: 0px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 3px;
}