header{
    display: inline-block;
    padding-inline: 40px;
    padding-block: 30px;
    color : black; 
    align-items: center;
    justify-content: space-between;
}
img{
    padding-left: 38px;
}
span{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    display: inline-block;
}
li button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
    border-color: rgb(255, 22, 22);
}
nav{
    display: inline;
}
input {
    width: 500px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
  }
  #search-b{
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(72, 128, 223);
    color : white; 
    margin-left:10px ;
    width: 100px;
    height: 36px;
    border-radius: 10px;
  }
  .search-part{
    margin-left: 35px;
  }
  div{
    width: 200px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(70, 129, 211);
    color : white; 
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  hr {
    margin-top: -30px;
    margin-bottom: 30px;
  }